@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #141519;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    width: 100vw;
    height: 100vh;
    font-family: Overpass, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: #222933;
    border-radius: 20px;
    z-index: 0;
    position: absolute;
    align-items: center;
}

.container__icon-star {
    display: flex;
    justify-content: center;    
    align-items: center;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 0px;
    background-color: #252F39;
    border-radius: 50%;
    margin: 7% 7%;
}

.button-number {
    width: 50px;
    height: 50px;
    background-color: #252F39;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 20px;
    margin: 10px;
}

.button-number:hover {
    background-color: #FC7613;
    cursor: pointer;
}

.active {
    background-color: white;
    color: black;
}


.container__conteudo{
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

.container__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-submit{
    width: 90%;
    height: 50px;
    background-color: #FC7613;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin: 5%;
    color: #141519;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
}

.button-submit:hover {
    width: 90%;
    height: 50px;
    background-color: white;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    margin: 5%;
    color: #141519;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
}

.selecionado {
    background-color: white;
    color: #141519;
}

.primeiro_banner {
    z-index: 1;
}

.illustration-thank-you {
    margin-top: 10%;
}

.button-selected {
    width: auto;
    height: 50px;
    background-color: #252F39;
    border-radius: 25px;
    border: none;
    color: #FC7613;
    font-size: 15px;
    margin-top: 20px;
    margin: 5%;
    padding: 0 20px;
}

.thank-you-title {
    margin-top: 3%;
}

.thank-you-text {
    margin: 0 10%;
    text-align: center;
    color: #7C8798;
    line-height: 1.5;
}